#root, .App {
    background: #ffffff;
    min-height: 100% !important;
    min-width: 100% !important;
    overflow-x: hidden;
}

.main {
    padding: 20px;
}

.App-logo {
    height: 32px;
    background: #333;
    border-radius: 6px;
    margin: 16px;
}

.App-header {
    background-color: black;
    height: 60px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

.section-header {
    margin-bottom: 16px;
}

.section-header .title{
    font-size: 24px;
}

.section-header .description {
    margin-left: 16px;
    color: rgba(0, 0, 0, 0.5);
}

.item-grid {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}

.item {
    margin-bottom: 16px;
    cursor: default;
    width: 300px;
}

.label,
.creator-actions .cancel {
    margin-right: 8px;
}

.sub,
.creator-field,
.creator-actions {
    margin-top: 8px;
}

.creator-select,
.creator-image,
.creator-image .ant-upload-select-picture-card,
.creator-image .ant-upload-select-picture-card img {
    width: 100%;
}

.creator-tag-select {
    width: 78%;
    margin-right: 2%;
}

.creator-tag-add {
    width: 20%;
}

.creator-actions {
    float: right;
}

.ant-menu-submenu-open {
    color: inherit !important;
}

.ant-popover-inner-content {
    overflow: auto;
}

.ant-table-footer {
    background: #ffffff !important;
}

.ant-list-item-meta-description {
    color: rgba(0, 0, 0, 0.65) !important;
}

.hidden-body .ant-card-body {
    display: none;
}

.tag-grid {
    width: 25%;
    text-align: center;
}
